.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 30px 55px;
    border-top-right-radius: 20px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.1);
}
.menu{
    display: flex;
    align-items: center;

}
.menu > li{
    margin-right: 35px;
}
.menu> li> a{
    color: #42474A;
    box-sizing: border-box;
    margin: 0 1px;
}
.menu> li> a:hover{
    color: #713BDB;
    font-weight: 600;
    margin: 0;
}
.menu> li> a:hover:after{
    content: "";
    display: flex;
    margin-left: 35%;
    height: 1px;
    width: 30%;
    margin-bottom: -3px;
    border-bottom: 2px solid #713BDB;
}
.buttons{
    display: flex;
    align-items: center;
}
.add_btn{
    background: #7843DE;
    border: #7843DE;
    border-radius: 10px;
    color: white;
    padding: 8px 18px;
    cursor: pointer;
}
.plus{
    margin-left: 30px;
}
.calendar{
    color: #7843DE;
    margin-left: 35px;
    border: 1px solid #7843DE;
    background-color: white;
    padding: 7px 15px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}
.calendar_icon{
    margin-right: 9px;
}