.linear{
    margin-top: 45px;
}
.line{
    height: 5px;
    width: 259px;
    border-radius: 2px;
    margin: 10px 0;
    background-color: #F2F2F2;
}
.prices{
    display: flex;
    justify-content: space-between;
}
.dollar{
    font-size: 13px;
    vertical-align: text-top;
}