*{
    outline: none;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.App{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: #E4DEF0;
}
.container{
    width: 90vw;
    display: flex;
    align-items: flex-start;
    background-color: #F4F5F9;
    border-radius: 20px;
}
.left_part{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top-right-radius: 20px;
}
.rows{
    display: flex;
}